doctype html
html
    head
        title #{community} 参加登録ページ

        link(rel='stylesheet', href='/css/skyblue.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body


        div.container
            h1 #{community} へようこそ
            div.margin-top-50

            h3 このページは何？

            div
                ul
                    li
                        a(href="https://slack.com", target="_blank") Slack
                        span で活動している「Unityユーザーグループ」の参加登録ページです。
                    li このページでメールアドレスを登録することでグループへの招待メールが届きます。

            hr


            form(method="POST", action="/invite")#join-form.offset-lg-3.lg-6
                h4 ユーザー登録をする
                input(type="email", name="email", placeholder="メールアドレスを入力してください" required='required')#slack-email.form-control
                div
                    input(type="text", name="first_name", placeholder="First name")#slack-email.form-control
                    input(type="text", name="last_name", placeholder="Last name")#slack-email.form-control
                button.btn.float-right 送信
        footer.footer
            img(src="/images/logo.png")
        script.
            var form = document.getElementById('join-form');
            var email = document.getElementById('slack-email')
            form.addEventListener('submit', function (evt) {
                if (!email.value) {
                    evt.preventDefault();
                }
            });
